.pricing {
  width: 100%;
  max-width: 960px;
  height: 68rem;
  text-align: center;
  box-shadow: 0 6px 16px 3px rgba(0, 0, 0, 0.4);
  padding: 6rem 0;
  border-radius: 1rem;
  background-image: url(/src/assets/images/bg-bottom.svg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 30rem;
  background-color: #f7f7ff;

  &-heading {
    font-size: 2.6rem;
    margin-bottom: 4rem;
  }

  &-toggle {
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;

    label {
      visibility: hidden;
      width: 0;
      display: inline-block;
    }

    input {
      appearance: none;
      width: 4rem;
      height: 2.4rem;
      border-radius: 1.6rem;
      margin: 0 2rem;
      background: #bbbabd;
      position: relative;
      padding: 0.2rem;
      transition: 0.3s ease-in-out;
      display: flex;
      align-items: center;

      &:checked {
        background: #878ae8;
      }

      &::before {
        content: '';
        display: block;
        width: 2rem;
        height: 2.2rem;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        transition: 0.3s ease-in-out;
      }

      &:checked::before {
        left: 1.8rem;
      }
    }
  }

  &-cards {
    display: flex;
    align-items: center;
    justify-content: center;

    .pricing-card {
      width: 30%;
      padding: 3rem 2rem;
      background-color: #fff;
      border-radius: 1rem;
      box-shadow: 0 6px 10px -3px rgba(0, 0, 0, 0.4);

      &__title {
        font-size: 1.4rem;
        margin-bottom: 1rem;
      }

      &__price {
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;

        span {
          font-size: 2.5rem;
        }

        .price {
          font-size: 5rem;
        }
      }

      &__features {
        font-size: 1.3rem;
        font-weight: 700;
        border-top: 1px solid #dcdbdd;
        margin-bottom: 2.5rem;

        .pricing-card__feature {
          padding: 0.6rem 0;
          border-bottom: 1px solid #dcdbdd;
        }
      }

      &__btn {
        height: 4rem;
        padding: 1rem 0;
        background: #878ae8;
        border-radius: 0.5rem;
        width: 100%;
        border: none;
        font-size: 1.2rem;
        font-weight: 700;
        color: #fff;
        outline: 0;
        transition: 0.3s ease-in-out;

        &:active {
          background: #f7eeee;
          border: 1px solid #878ae8;
          color: #878ae8;
        }
      }
    }

    .btn-middle:active {
      background: #878ae8;
      border: 1px solid #f7eeee;
      color: #f7eeee;
    }

    .card-middle {
      background: #878ae8;
      color: #f7eeee;
      padding: 5rem 2rem;

      button {
        background: #f7eeee;
        color: #878ae8;
      }
    }
  }
  .annually.is-hidden {
    display: none;
  }

  .monthly.is-hidden {
    display: none;
  }
}
